//Comments with a // won't compile into the end CSS, so write away here!
/*Multi-line comments formatted with asterisks will compile to CSS, so be wary!*/
/*
GENERAL CSS RULES:

- Use flexible/relative units where possible
- Don't use resets and generally avoid overriding (especially using !important)
- Use specific, longhand rules over shorthand to avoid conflicts
- Comment what you're trying to do!


SPECIFIC GUIDELINES:
These apply to this project in specific; I've found that this type of organization
  scheme organizes well and is very readable.

- ALL variables here need to be updated in variables.module.scss as well
- Styles for specific elements will be class-based and have names in comments
- CHECK existing styles before making a new one
- Skip between sections by searching for ||
*/

//Imports Bootstrap's source Sass files
@import "~bootstrap/scss/bootstrap";


// || SASS VARIABLES


//Fonts
$font-text-light: 200 20px/1.2 'Mukta', sans-serif;
$font-text: 300 20px/1.2 'Mukta', sans-serif;
$font-text-bold: 400 20px/1.2 'Mukta', sans-serif;
$font-text-thick: 700 25px/1.2 'Mukta', sans-serif;

$font-text-small: 300 16px/1.2 'Mukta', sans-serif;

$font-title-light: 300 30px/1.5 'Roboto', sans-serif;
$font-title: 400 30px/1.5 'Roboto', sans-serif;
$font-title-bold: 500 30px/1.5 'Roboto', sans-serif;
$font-title-large: 700 45px/2 'Roboto', sans-serif;


// Colors
$color-warm-light: #f68e86;
$color-warm: #dd5964;
$color-warm-dark: #9e4450;

$color-cool-light: #88d5cd;
$color-cool: #33b8b8;
$color-cool-dark: #319ea2;

$color-text: #40373a;
$color-background: #fcedc9;
$color-white: #fff;


/* || MAIN THEME */

* {
  margin: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

/* || ELEMENT CLASSES */