//Comments with a // won't compile into the end CSS, so write away here!
/*Multi-line comments formatted with asterisks will compile to CSS, so be wary!*/
/*
GENERAL CSS RULES:

- Use flexible/relative units where possible
- Don't use resets and generally avoid overriding (especially using !important)
- Use specific, longhand rules over shorthand to avoid conflicts
- Comment what you're trying to do!


SPECIFIC GUIDELINES:
These apply to this project in specific; I've found that this type of organization
  scheme organizes well and is very readable.

- ALL variables here need to be updated in variables.module.scss as well
- Styles for specific elements will be class-based and have names in comments
- CHECK existing styles before making a new one
*/

//Imports Bootstrap's source Sass files
@import "~bootstrap/scss/bootstrap";

//SASS VARIABLES

$test-color: #00ffff;

/* MAIN THEME */

* {
  margin: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

/* ELEMENT CLASSES */